__pycache__/
old/
*.py[cod]
*.so
venv/
.env
*.db
data/upload_*
data/finscan.db
data/TSLA-Q2-2025-Update.pdf
!data/.gitkeep
outputs/*
!outputs/.gitkeep
.vscode/
*.egg-info/
dist/
build/
.mypy_cache/
/scripts
